// intro

$intro-duration: 1s;

$intro-title-duration: $intro-duration / 2;
$intro-underline-duration: $intro-duration / 2;
$intro-baseline-duration: $intro-duration;

.r-title {
  animation: title-fead-in $intro-title-duration ease-in-out;
}

@keyframes title-fead-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.logo-underline {
  animation: bandeau-animation $intro-underline-duration ease-in-out;
}

@keyframes bandeau-animation {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.logo-baseline {
  animation: baseline-animation $intro-baseline-duration ease-in-out;
}

@keyframes baseline-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// page transition
.page-0 {
  opacity: 1;
  animation: page-transiton-0 1s $intro-duration ease-in-out;
  animation-fill-mode: forwards;
}

.page-1 {
  opacity: 0;
  animation: page-transiton-1 1s $intro-duration ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes page-transiton-0 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes page-transiton-1 {
  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
