@import "font-loader";

$color-main:      hsla(344, 95%, 79%, 1);
$color-secondary: hsla(223, 68%, 40%, 1);
$color-secondary-txt: hsla(223, 76%, 39%, 1);

$underlin-color: darken($color-main, 10);

body {
  -webkit-font-smoothing: antialiased;
  font-family: euclid, ".SF NS Display", sans-serif;
  color: $color-secondary-txt;
  background-color: $color-main;
  margin: 0;
  position: relative;
  padding: 0;
  user-select: none;
}

canvas#renderCanvas {
  position: absolute;
  background: $color-main;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity 500ms ease-in-out;

  background: none;
  //z-index: 100;
  //mix-blend-mode: overlay;
  //mix-blend-mode: multiply;

  pointer-events: none;
}

h1 {
  font-size: 7vh;
  line-height: 1.75em;
  font-weight: 500;
  margin-top: 1.5em;
  margin-bottom: .75em;
}

h2 {
  font-size: 4vh;
  font-weight: 200;
  line-height: 1.5em;
}

p {
  font-size: 3vh;
  line-height: 1.2em;
}

h1.font-big {
  font-size: 9vh;
}

h4 {
  color: white;
  font-size: 2.5vh;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.r-intro-logo {
  height: 7vh;
  width: auto;
  display: block;
}

.r-ended-logo {
  height: auto;
  width: auto;
  display: block;
  transform: translateY(37vh);
  opacity: 0.75;

  .r-logo {
    color: white;
    display: block;
    height: 1ex;
    line-height: 1ex;
    font-size: 3vh;

    .color {
      line-height: 1ex;
      height: 1ex;
      color: white;
    }
  }
}

.text-bandeau {
  white-space: nowrap;

  > *:first-child {
    margin-top: 0;
  }

  > .font-big:first-child {
    margin-top: -.5em;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.r-debugguer {
  //display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  > * {
    font-size: 20px;
  }
}

.r-pages {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.r-underline {
  //&:after {
  //  content: '';
  //  display: inline-block;
  //  position: absolute;
  //  transform: translateY(80%);
  //  bottom: 0;
  //  left: 0;
  //  width: 100%;
  //  height: .75em;
  //  background: darken($color-main, 20);
  //}

  position: relative;
  background-size: 10px 1em;
  display: inline;
  padding-bottom: 0.2em;
  box-shadow: inset 0px -0.25em 0 -2px $underlin-color;
}

.right-content {
  position: relative;
  left: calc(100% / 12 * 4);
  width: calc(100% - (100% / 12 * 4));
  top: 50%;
  transform: translateY(-50%);

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  > h1:first-child {
    margin-top: -0.2em;
  }
}

.r-font-bkg-blue {
  color: white;
  background-color: $color-secondary;
  height: 1ex;
  padding: .2em 0.4em;
}

.r-page-0 {
  .logo-container {
  }
}

.r-title {
  margin: 0;

  .r-logo {
    font-size: 7vh;
  }
}

.logo-container {
  overflow: hidden;
}

.logo-underline {
  display: block;
  width: 100%;
  background-color: $underlin-color;
  position: relative;
  left: 0;
  margin-top: 1.2vh;
  height: 1.5vh;
}

.logo-baseline {
  margin-top: .5em;
}

.r-page-1 {

}

.r-button-start {
  cursor: pointer;
}

.r-button-skip-intro {
  display: block;
  position: fixed;
  left: 50%;
  bottom: 25%;
  transform: translate(-50%, 50%);
  cursor: pointer;

  transition: opacity 500ms ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.list-of-audio-files-loaded {
  .r-button-skip-intro {
    opacity: 1;
    pointer-events: auto;
  }
}

.r-button-ready {
  $time: 1s;
  $timingFunction: cubic-bezier(0.35, 0, 0, 1);
  $delay: 250ms;

  cursor: none;
  transition: opacity $time $timingFunction $delay;
  opacity: 0;

  &.with-arrow {
    &:after {
      position: relative;
      display: inline-block;
      transition: opacity $time $timingFunction $delay, transform $time $timingFunction $delay;
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  .r-underline {
    box-shadow: none;

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: .2em;
      width: 100%;
      background: $underlin-color;
      transition: transform $time $timingFunction $delay;
      transform: scaleX(0);
    }
  }

  .sound-loaded & {
    color: $color-secondary-txt;

    &.with-arrow {
      &:after {
        transform: translateX(0%);
        opacity: 1;
      }
    }

    .r-underline {

      &:after {
        transform: scaleX(1);
      }
    }

  }
}

.r-chargement {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  margin: 0;
  color: white;
  opacity: 0.25;
}

.sound-loaded {
  .r-chargement {
    display: none;
  }

  .r-button-ready {
    opacity: 1;
    cursor: pointer;
  }
}

.r-button {
  display: inline-block;
  margin: 0;

  > * {
    display: inline-block;
  }

  &.with-arrow {
    &:after {
      content: "->";
      font-family: poppinsUI, ".SF NS Display", sans-serif;
    }
  }
}

.r-centred-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.r-logo-page-container {
  position: absolute;
  left: 2rem;
  top: 1rem;

  > img {
    display: block;
    height: 3vh;
  }
}

.r-logo {
  font-size: 3vh;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  letter-spacing: calc(-4em / 100);
  color: $color-secondary-txt;

  .color {
    color: $underlin-color;
  }
}


//.page-0 {display: none} // on va avoir un son
//.page-1 {display: none}  // annimé
//.r-page-2 {display: none}  // play ici
//.r-page-3 {display: none}
//.page-4 {display: none}

// menu avec un a propos

.r-reloader-app {cursor: pointer}

@import "./intro-animation";