$color-main: pink;
$color-secondary: blue;

$underlin-color: darken($color-main, 20);

$underline-weight: 0.3em;

body {
  font-family: ".SF NS Display", sans-serif;
  color: $color-secondary;
  background-color: $color-main;
  margin: 0;
  position: relative;
  padding: 0;
}

h1 {
  font-size: 3rem;
  line-height: 1.5em;
}

h2 {
  font-size: 1.75rem;
  font-weight: 200;
  line-height: 1.2em;
}

p {
  font-size: 1.75rem;
  line-height: 1.2em;
}

h1.font-big {
  font-size: 5rem;
}

h4 {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.text-bandeau {
  white-space: nowrap;
}

.r-debugguer {
  //display: none;
  position: fixed;
  top: 0;
  left: 0;
  > * {
    font-size: 20px;
  }
}

.r-pages {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.r-underline {
  //&:after {
  //  content: '';
  //  display: inline-block;
  //  position: absolute;
  //  transform: translateY(80%);
  //  bottom: 0;
  //  left: 0;
  //  width: 100%;
  //  height: .75em;
  //  background: darken($color-main, 20);
  //}

  position: relative;
  background-size: 10px 1em;
  display: inline;
  padding-bottom: 0.4em;
  box-shadow: inset 0px #{ - $underline-weight} 0 -2px $underlin-color;
}

.right-content {
  position: relative;
  left: 33%;
  top: 50%;
  transform: translateY(-50%);

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.r-blue-bkg {
  background-color: $color-secondary;
  display: inline;
  color: white;
}

.page-0 {
  .logo-container {
  }
}

.r-title {
  margin: 0;
}

.logo-container {
  overflow: hidden;
}

.logo-underline {
  display: block;
  height: 2 * $underline-weight;
  width: 100%;
  background-color: $underlin-color;
  position: relative;
  left: 0;
}

.logo-baseline {
  margin-top: .5em;
}

.page-1 {

}

.r-button-start {

}

.r-centred-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


//.page-0 {display: none} // on va avoir un son
//.page-1 {display: none}  // annimé
.page-2 {display: none}  // play ici
.page-3 {display: none}
.page-4 {display: none}

// menu avec un a propos

@import "./intro-animation";